<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.waseda.com/enixer/exbnf/ExBNF" 
       class = "com.waseda.enixer.exbnf.exBNF.ExBNFPackage"
       genModel = "model/generated/ExBNF.genmodel" /> 
	
  </extension>



</plugin>
