OperatorCounter/.classpath
OperatorCounter/.project
OperatorCounter/.settings
com.waseda.enixer.exbnf/.launch

# for Maven
target
bin
*.class

# Package Files #
*.jar
*.war
*.ear

# for ExBNF
*/src-gen/*
!*/src-gen/.keep
xtend-gen

# for Mac
*.DS_Store
