OperatorCounter/.classpath
OperatorCounter/.project
OperatorCounter/.settings
com.waseda.enixer.exbnf/.launch
*/.settings
*/.classpath

# for Maven
target
bin
*.class

# Package Files #
*.jar
*.war
*.ear

# for ExBNF
src-gen
xtend-gen

# for Mac
*.DS_Store
